<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>WayAway</title>
  <link href="https://api.fontshare.com/v2/css?f[]=bespoke-stencil@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/mainpage.css" />
  <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>

  <div class="container">
    <nav>
      <a href="https://www.linkedin.com/in/jithin-lakshman-p-a93263289/" id="item-1">LinkedIn</a>
      <a href="#" id="item-2">About</a>
    </nav>

    <footer>
      <a href="https://github.com/Jithin15P" id="item-3">Github</a>
      <a href="#" id="item-4">Contact</a>
    </footer>

    <div class="header">
      <div class="placeholder">WayAway</div>
      <p id="subheader">Whats your next Destination</p>
  <div class="button-row">
  <form method="get" action="/listings">
    <button id="go-home-btn">Discover the Way</button>
  </form>
  <button id="learn-more-btn">Know More</button>
</div>

    </div>
  </div>

  <div id="page2">
    <div class="content">
        <P>At WayAway, we simplify travel</P> 
        <P>by helping users discover and book </P>
        <P>trusted, unique stays around the world.</P>
        <P>With verified hosts, secure payments,</P> 
        <P>and easy booking, we make travel planning</P>
        <P>smooth, safe, and personalized for every journey.</P>
    </div>
  </div>
  <div id="page3">
  <section class="sticky-cards">
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303224/img1_eh8j2e.jpg" alt="Image 1"></div>
      <div class="card-content"><p>Discover</p></div>
    </div>
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303256/img2_x5uwdc.jpg" alt="Image 2"></div>
      <div class="card-content"><p>Explore</p></div>
    </div>
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303276/img3_zlbode.jpg" alt="Image 3"></div>
      <div class="card-content"><p>Relax</p></div>
    </div>
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303296/img4_bpiaf3.jpg" alt="Image 4"></div>
      <div class="card-content"><p>Adventure</p></div>
    </div>
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303313/img5_yvn4aa.jpg" alt="Image 5"></div>
      <div class="card-content"><p>Connect</p></div>
    </div>
    <div class="card">
      <div class="card-img"><img src="https://res.cloudinary.com/dfehbdtp5/image/upload/v1751303343/img6_fz1wsy.jpg" alt="Image 6"></div>
      <div class="card-content"><p>Experience</p></div>
    </div>
  </section>
</div>
<div id="page4" class="footer-page">
  <hr><br>
    <h1 style="text-align: center;padding-right:140px;">WayAway &copy;</h1>
  <footer class="footer">
    <div class="footer-grid">
      
      <div class="footer-column">
        <h4>Other Websites</h4>
        <ul>
          <li>Zerodha clone</li>
          <li>Haunted House</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Know More</h4>
        <ul>
          <li>Github</li>
          <li>LinkedIn</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Creator</h4>
        <ul>
          <li>Jithin Lakshman</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>FAQs</h4>
        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-links">
        <a href="#">Cookies Policy</a>
        <a href="#">Legal Terms</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="footer-social">
        <strong>Connect:</strong>
        <a href="#">Instagram</a>
        <a href="https://www.linkedin.com/in/jithin-lakshman-p-a93263289/">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">YouTube</a>
      </div>
    </div>

    <button id="scrollTopBtn" onclick="scrollToTop()">&#8593;</button>
  </footer>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="/js/mainpage.js"></script>
</body>
</html>
